@model BlogNoticiasV2.Models.Category
@{
    ViewBag.Title = "Detalle de categoría";
}
<h2>@ViewBag.Title</h2>
<dl class="row">
    <dt class="col-sm-3">Nombre</dt>
    <dd class="col-sm-9">@Model.Nombre</dd>
</dl>
<a class="btn btn-secondary" href="@Url.Action("Index")">Volver</a>
<a class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.Id })">Editar</a>
